<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../cssfiles/sample3.css">
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
		<script type="text/javascript" src="../jquery.js"></script>
		<script type="text/javascript" src="../jsfiles/sample3.js"></script>
	</head>
	<body>
		<div class="place">
			<div>
				<ul>
					<li class="left">DOB:</li>
					<li class="left">
						<select id="year">
							<option>Year</option>
						</select>
					</li>
					<li class="left">
						<select id="month">
							<option>Month</option>						
						</select>
					</li>
					<li class="left">
						<select id="days">
							<option>Day</option>						
						</select>
					</li>	
				</ul>
		</div>
	</div>
		<br><br><br>
	<center>
	<div id="msg" class="text" >
	</div>
	</center>
	</body>
</html>
